<%= form_for(@ticket, :html => {:class => "form-horizontal"}) do |f| %>
    <div class="control-group">

      <% if @ticket.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

            <ul>
              <% @ticket.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.label :title, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>

      <br/>
      <%= f.label :description, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :description, :style => "height: 200px" %>
      </div>

      <br/>
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>

      <br/>
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>

      <br/>
    </div>
    <%= f.submit(class:"btn") %>
<% end %>
